.schol{
    position: relative;
}

.sch{
    width: 440px;
    height: 450px;
    border: 20px solid #219D8033;
}

.toge{
    border: 20px solid #219D8033;
    height: 322px;
    width: 363px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
}

.togetherness{
    list-style-type: disc;
}
.loads{
    background-color: #C7E7DF;
    width: 481px;
}